<style>
.field_with_errors {
  color: red;
}
input:disabled {
  background: #eeeeee;
}
</style>

<script>
$(function() {
  $('input:radio[name="num-players"]').on('change', function() {
    if ($(this).val() == 3) {
      $('input[type="textbox"][name="game[players][]"]:last').attr('disabled', true);
    } else {
      $('input[type="textbox"][name="game[players][]"]:last').attr('disabled', false);
    }
  });
});
</script>

<%= form_for @game do |f| %>

  <% if @game.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@game.errors.count, "error") %> prohibited
        this game from being saved:
      </h2>
      <ul>
        <% @game.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :players %><br>

    <% if @game.players? %>
      <% @game.players.each do |p| %>
          <input type="textbox" name="game[players][]" value=<%= p %> >
      <% end %>
    <% else %>
      <input type="radio" name="num-players" id="_3" value="3" />
      <label for="_3">3</label>
      <input type="radio" name="num-players" id="_4" value="4" checked="checked" />
      <label for="_4">4</label>
      <br>
      <% 4.times do %>
        <input type="textbox" name="game[players][]" />
      <% end %>
    <% end %>
  </p>

  <p>
    <%= f.submit %>
  </p>

<% end %>
