<style>
.field_with_errors {
  color: red;
}
</style>

<%= form_for @game do |f| %>

  <% if @game.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@game.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @game.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :players %><br>
    <%= f.text_area :players %>
  </p>

  <p>
    <%= f.submit %>
  </p>

<% end %>
