<style>
.win_detail {
  display: none;
}
</style>

<script>
$(function() {
  $('input[type=radio][name=type]').change(function () {
    // Hide all the divs
    $('.win_detail').css("display","none");
    // Get div ID to show
    var fieldToShow = $(this).val();
    // Now use jQuery selector and change the display setting of that field
    $("#" + fieldToShow + "_detail").css("display","block");

    if (fieldToShow == "ron" || fieldToShow == "tsumo") {
      $("#tsumo_ron_detail").css("display","block");
    }
  });

  $("#han_slide").slider();
  $("#han_slide").on("slide", function(slideEvt) {
    $("#han_value").text(slideEvt.value);
  });

  $("#fu_slide").slider({
    ticks: [20, 25, 30, 40, 50, 60, 70, 80, 90, 100, 110],
    ticks_positions: [0, 5, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100],
    //ticks_labels: ['20', '25', '30', '40', '50', '60', '70', '80', '90', '100', '110'],
	ticks_snap_bounds: 10
  });
  $("#fu_slide").on("slide", function(slideEvt) {
    $("#fu_value").text(slideEvt.value);
  });

});
</script>

<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>

<h1><%= @game.name %></h1>

<table>
  <tr>
    <th>Players</th>
    <th>Created at</th>
    <th>Last updated</th>
  </tr>
  <tr>
    <td><%= @game.players %></td>
    <td><%= @game.created_at %></td>
    <td><%= @game.updated_at %></td>
  </tr>
</table>

<%= link_to 'Edit this game', edit_game_path(@game) %> |
<%= link_to 'Delete this game', game_path(@game),
    method: :delete,
    data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back to all games', games_path %>

<h1>Scoretable</h1>
<table>
  <tr>
    <td>Round</td>
    <% @game.players.each do |player| %>
      <td><%= player %></td>
    <% end %>
  </tr>
  <!-- initial round -->
  <tr>
    <td><%= @init_round.name %></td>
    <% @init_round.scores.each do |player, score| %>
      <td><%= score %></td>
    <% end %>
  </tr>
  <!-- other rounds -->
  <% @rounds.each do |round| %>
    <tr>
        <td><%= round.name %><% if round == @rounds.last %>*<% end %></td>
      <% round.scores.each do |player, score| %>
        <td><%= score %></td>
      <% end %>
    </tr>
  <% end %>
</table>

<% if @rounds.length > 1 %>
<%= link_to 'Delete last round', game_round_path(@game, @rounds.last),
    method: :delete,
    data: { confirm: 'Are you sure?' } %>
<% end %>

<h2>Add next round:</h2>
<%= form_for ([@game, @game.rounds.build]) do |f| %>
  Type:<br>
  <%= radio_button_tag(:type, "tsumo") %>
  <%= label_tag(:type_tsumo, "Tsumo") %>
  <%= radio_button_tag(:type, "ron") %>
  <%= label_tag(:type_ron, "Ron") %>
  <%= radio_button_tag(:type, "ryuukyoku") %>
  <%= label_tag(:type_ryuukyoku, "Ryuukyoku") %>
  <%= radio_button_tag(:type, "noten") %>
  <%= label_tag(:type_noten, "Noten") %>
  <%= radio_button_tag(:type, "chombo") %>
  <%= label_tag(:type_chombo, "Chombo") %>
  <%= radio_button_tag(:type, "reset") %>
  <%= label_tag(:type_reset, "Reset Round") %>
  <br>

  <!-- TSUMO -->
  <div class="win_detail" id="tsumo_detail">
    Winner:<br>
    <% @game.players.each do |player| %>
      <%= radio_button_tag(:winner, player) %>
      <%= label_tag("winner_" + player, player) %>
    <% end %>
    <br>
  </div>

  <!-- RON -->
  <!-- Need to add support for multiple ron: "check_box_tag" instead -->
  <div class="win_detail" id="ron_detail">
    Winner:<br>
    <% @game.players.each do |player| %>
      <%= radio_button_tag(:winner, player) %>
      <%= label_tag("winner_" + player, player) %>
    <% end %>
    <br>

    Loser:<br>
    <% @game.players.each do |player| %>
      <%= radio_button_tag(:loser, player) %>
      <%= label_tag("loser_" + player, player) %>
    <% end %>
    <br>
  </div>

  <!-- Han and Fu sliders.. -->
  <!-- Need to disable directly clicking on sliders -->
  <div class="win_detail" id="tsumo_ron_detail">
    Hand Value:<br>
    <input name="score[han]" id="han_slide" type="text" data-slider-min="1" data-slider-max="13" data-slider-step="1" data-slider-value="1"/>
    <span>Han: <span id="han_value">1</span></span><br>
    <input name="score[fu]" id="fu_slide" type="text">
    <span>Fu: <span id="fu_value">20</span></span>
    <br>

    <!-- Display points won as well -->
  </div>

  <!-- RYUUKYOKU -->
  <div class="win_detail" id="ryuukyoku_detail">
    Winners:<br>
    <% @game.players.each do |player| %>
      <%= check_box_tag("tenpai_players[]", player) %>
      <%= label_tag("tenpai_players_" + player, player) %>
    <% end %>
    <br>
  </div>

  <!-- CHOMBO -->
  <div class="win_detail" id="chombo_detail">
    Loser:<br>
    <% @game.players.each do |player| %>
      <%= radio_button_tag(:loser, player) %>
      <%= label_tag("loser_" + player, player) %>
    <% end %>
    <br>
  </div>

  <%= submit_tag("Add") %>
<% end %>
