<style>
.win_detail {
  display: none;
}
</style>

<script>
$(function() {
  $('input[type=radio][name=type]').change(function () {
    // Hide all the divs
    $('.win_detail').css("display","none");
    // Get div ID to show
    var fieldToShow = $(this).val();
    // Now use jQuery selector and change the display setting of that field
    $("#" + fieldToShow + "_detail").css("display","block");
  });

  $("#han_slide").slider();
  $("#han_slide").on("slide", function(slideEvt) {
    $("#han_value").text(slideEvt.value);
  });

  $("#fu_slide").slider({
    ticks: [20, 25, 30, 40, 50, 60, 70, 80, 90, 100, 110],
    ticks_positions: [0, 5, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100],
    //ticks_labels: ['20', '25', '30', '40', '50', '60', '70', '80', '90', '100', '110'],
	ticks_snap_bounds: 10
  });
  $("#fu_slide").on("slide", function(slideEvt) {
    $("#fu_value").text(slideEvt.value);
  });

});
</script>

<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>

<h1><%= @game.name %></h1>

<table>
  <tr>
    <th>Players</th>
    <th>Created at</th>
    <th>Last updated</th>
  </tr>
  <tr>
    <td><%= @game.players %></td>
    <td><%= @game.created_at %></td>
    <td><%= @game.updated_at %></td>
  </tr>
</table>

<%= link_to 'Edit this game', edit_game_path(@game) %> |
<%= link_to 'Delete this game', game_path(@game),
    method: :delete,
    data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back to all games', games_path %>

<h1>Scoretable</h1>
<table>
  <tr>
    <td>Round</td>
    <% @game.players.each do |player| %>
      <td><%= player %></td>
    <% end %>
  </tr>
  <!-- initial round -->
  <tr>
    <td><%= @init_round.name %></td>
    <% @init_round.scores.each do |player, score| %>
      <td><%= score %></td>
    <% end %>
  </tr>
  <!-- other rounds -->
  <% @rounds.each do |round| %>
    <tr>
      <td><%= round.name %></td>
      <% round.scores.each do |player, score| %>
        <td><%= score %></td>
      <% end %>
    </tr>
  <% end %>
</table>

<% if @rounds.length > 1 %>
<%= link_to 'Delete last round', game_round_path(@game, @rounds.last),
    method: :delete,
    data: { confirm: 'Are you sure?' } %>
<% end %>

<h2>Add next round:</h2>
<%= form_for ([@game, @game.rounds.build]) do |f| %>
  Type:<br>
  <%= radio_button_tag(:type, "tsumo") %>
  <%= label_tag(:type_tsumo, "Tsumo") %>
  <%= radio_button_tag(:type, "ron") %>
  <%= label_tag(:type_ron, "Ron") %>
  <%= radio_button_tag(:type, "ryuukyoku") %>
  <%= label_tag(:type_ryuukyoku, "Ryuukyoku") %>
  <%= radio_button_tag(:type, "noten") %>
  <%= label_tag(:type_noten, "Noten") %>
  <%= radio_button_tag(:type, "chombo") %>
  <%= label_tag(:type_chombo, "Chombo") %>
  <%= radio_button_tag(:type, "reset") %>
  <%= label_tag(:type_reset, "Reset Round") %>

  <!-- Need to add support for multiple ron: "check_box_tag" instead -->
  <br>
  Winner:<br>
  <% @game.players.each do |player| %>
    <%= radio_button_tag(:winner, player) %>
    <%= label_tag("winner_" + player, player) %>
  <% end %>

  <br>
  Hand Value:<br>
  <!-- Han and Fu sliders.. -->
  <input name="score[han]" id="han_slide" type="text" data-slider-min="1" data-slider-max="13" data-slider-step="1" data-slider-value="1"/>
  <span>Han: <span id="han_value">1</span></span><br>
  <input name="score[fu]" id="fu_slide" type="text">
  <span>Fu: <span id="fu_value">20</span></span><br>

  <!-- Display points won here -->

  <div class="win_detail" id="tsumo_detail">
    <p>
    tsumo
  </div>

  <div class="win_detail" id="ron_detail">
    <p>
    ron
  </div>

  <div class="win_detail" id="ryuukyoku_detail">
    <p>
    ryuukyoku
  </div>

  <div class="win_detail" id="chombo_detail">
    <p>
    chombo
  </div>
  <br>
  <%= submit_tag("Add") %>
<% end %>


<h2>Add next round (manual):</h2>
<%= form_for ([@game, @game.rounds.new]) do |f| %>
  <p>
    <%= f.label :wind %><br>
    <%= f.text_field :wind %>
  </p>
  <p>
    <%= f.label :number %><br>
    <%= f.text_field :number %>
  </p>
  <p>
    <%= f.label :bonus %><br>
    <%= f.text_field :bonus %>
  </p>
  <p>
    <%= f.label :riichi %><br>
    <%= f.text_field :riichi %>
  </p>
  <p>
    <%= f.label :scores %><br>
    <% @game.players.each do |player| %>
      <input type="textbox" name="round[scores][<%= player%>]" />
    <% end %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
