<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>

<h1><%= @game.name %></h1>

<table>
  <tr>
    <th>Players</th>
    <th>Created at</th>
    <th>Last updated</th>
  </tr>
  <tr>
    <td><%= @game.players %></td>
    <td><%= @game.created_at %></td>
    <td><%= @game.updated_at %></td>
  </tr>
</table>

<%= link_to 'Edit this game', edit_game_path(@game) %> |
<%= link_to 'Delete this game', game_path(@game),
    method: :delete,
    data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back to all games', games_path %>

<h1>Scoretable</h1>
<table>
  <tr>
    <td>Name</td>
    <% @game.players.each do |player| %>
      <td><%= player %></td>
    <% end %>
  </tr>
  <!-- initial round -->
  <tr>
    <td><%= @init_round.name %></td>
    <% @init_round.scores.each do |player, score| %>
      <td><%= score %></td>
    <% end %>
  </tr>
  <!-- other rounds -->
  <% @rounds.each do |round| %>
    <tr>
      <td><%= round.name %></td>
      <% round.scores.each do |player, score| %>
        <td><%= score %></td>
      <% end %>
    </tr>
  <% end %>
</table>

<h2>Add next round:</h2>
<%= form_for ([@game, @game.rounds.new]) do |f| %>

<% end %>
